.serif,
.serif * {
  font-family: var(--font-serif);
}

* {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-serif);
}

main {
  margin-top: 20px;
}

button {
  margin-top: 10px;
}

.v-mid {
  vertical-align: middle;
}

.divider {
  margin: 30px 0;
}

.no-link {
  color: var(--c-black) !important;
}

.no-link {
  color: var(--c-black);
  text-decoration: none;
  cursor: initial;
}

.container {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}
