@import 'https://fontlibrary.org/face/merriweather';
@import 'https://fontlibrary.org/face/inter-ui';

html {
  font: 16px/180% var(--font-sans);
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

@media (--bp-medium) {
  html {
	font-size: 14px;
	line-height: 160%;
  }
}

@media (--bp-small) {
  html {
	font-size: 12px;
	line-height: 150%;
  }
}

pre, code {
  font-family: var(--font-monospace);
}

pre {
  font-size: 14px;
  line-height: 130px;
}

h1, h2, h3, h4, h5, h6 {
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  font-feature-settings: 'liga' on, 'dlig' on;
  font-family: var(--font-serif);
}

* {
  box-sizing: border-box;
}

*:target {
  background-color: var(--c-yellow);
}

html {
  background-color: var(--c-lightgray);
  color: var(--c-black);
  tab-size: 4;
  -moz-tab-size: 4;
}

html, body {
  margin: 0;
}

.center, .page {
  max-width: 54rem;
  margin: .5rem auto;
  position: relative;
}

.page {
  padding: 1rem 2rem;
  background-color: var(--c-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

@media (--bp-medium) {
  .page, .center {
	max-width: 100%;
	padding: 0 1rem;
  }
}

@page {
  margin: 0;
}

a,
a code,
.link {
  color: var(--c-blue);
  text-decoration: none;
  transition: color .2s;
}

a:hover, .link:hover {
  color: var(--c-lightblue);
  text-decoration: underline;
}

.link--no-underline:hover {
  text-decoration: none;
}

a:hover code {
  color: var(--c-lightblue);
}

form {
  display: inline;
  margin: 0;
  padding: 0;
}

.link {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font: inherit;
  line-height: 1rem;
  display: inline;
  -moz-user-select: inherit;
  -webkit-appearance: none;
}

.text-center {
  text-align: center;
}

h1 {
  text-align: center;
  padding: .5em 0;
  font-size: 1.7em;
}

h1.h1--uncentered {
  text-align: left;
}

h1.h1--nomargin {
  margin: 0;
}

h2 {
  border-bottom: 1px solid var(--c-black);
  padding-bottom: .2em;
  font-size: 1.5em;
}

h2.h2--noborder {
  border: 0;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5, h6 {
  font-size: 1em;
}

blockquote {
  font-style: italic;
}

img {
  max-width: 100%;
}

figure {
  text-align: center;
  margin: 1rem 0;
}

code, pre, kbd, samp {
  background-color: var(--c-white);
  color: var(--c-black);
}

pre {
  overflow: auto;
  max-height: 500px;
  padding: .5em 1em;
  border-radius: 2px;
  border-top: 1px solid var(--c-gray);
  border-bottom: 1px solid var(--c-gray);
}

code, kbd, samp {
  padding: 1px 2px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

hr {
  border: $c-gray .5px dashed;
  text-align: center;
  font-size: 60px;
  opacity: .9;
}
