$primary-color: #ff4036;
$primary-color-dark: #ea1308;
$primary-color-light: #ff635b;
$secondary-color: #1c9aff;
$secondary-color-dark: #0e4ce8;
$secondary-color-light: #0ebfe8;
$dark-color: #303742;
$light-color: #fff;

@import 'spectre/src/spectre.scss'
