fieldset {
  border: 0;
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  font-size: 1rem;
}

textarea {
  width: 100%;
  font-family: var(--font-serif);
  padding: 0.5rem 1rem;
}

button {
  margin-top: 1rem;
}
