.grid {
  display: grid;
  grid-auto-flow: row;
}

.grid--gap {
  grid-gap: 1rem;
}

.grid--outline > * {
  border: 1px black dashed;
}

.grid--2-50 {
  grid-template-columns: 50% 50%;
}

.grid--2-30 {
  grid-template-columns: 30% 70%;
}

.grid--2-70 {
  grid-template-columns: 70% 30%;
}

.grid--3-2-1-1 {
  grid-template-columns: 2fr 1fr 1fr;
}
