:root {
  --c-black: #252525;
  --c-yellow: #ff6;
  --c-white: #fff;
  --c-blue: #00f;
  --c-lightblue: #6491ff;
  --c-lightgray: #eee;
  --c-gray: #d5d5d5;
  --c-darkgray: #aaa;
  --c-red: #ff4136;
  --c-orange: #ff851b;
  --font-serif: 'Merriweather', 'DejaVu Serif', 'Bitstream Vera Serif', 'Georgia', serif;
  --font-sans: 'InterRegular', sans-serif;
  --font-monospace: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Consolas', monospace;
}

@custom-media --bp-medium (max-width: 54em);
@custom-media --bp-small (max-width: 26em);

@import './base.css';
@import './grid.css';
@import './nav.css';
@import './form.css';
@import './button.css';
@import './misc.css';
