# ui
node_modules/
npm-debug.log
dist/*
!dist/index.html
serve_dist/
.cache/
stats.json

# both
.env
.DS_Store

# aph
cover/
deps/
doc/
/.fetch
erl_crash.dump
*.ez
aph-*.tar
/priv/static/
gentts/
_build/
aph/priv/static/
aph/config/config.exs
# for now, include the cube model
!aph/priv/static/cube.glb
