# ui
node_modules/
npm-debug.log
.cache/
stats.json

# both
.env
.DS_Store

# aph
cover/
deps/
doc/
/.fetch
erl_crash.dump
*.ez
aph-*.tar
gentts/
_build/
priv/static/
config/dev.exs
# for now, include the cube model
!priv/static/cube.glb

# vagrant
.vagrant
