{
  "tometo": {
    "hostname": "{{ tm_hostname }}"
  },
  "otemot": {
    "database_url": "{{ database_url }}",
    "storage": "local",
    "google_credentials": "{{ google_creds }}",
    "secrets": {
      "cookie": "{{ cookie_secret }}",
      "jwt": "{{ jwt_secret }}"
    },
    "hostname": "{{ ot_hostname }}",
    "dsn": "{{ sentry }}",
    "env": "{{ env }}"
  }
}
