{
  "tometo": {
    "hostname": "{{ tm_hostname }}"
  },
  "otemot": {
    "database_url": "{{ database_url }}",
    "storage": "local",
    "local_storage": {
      "protocol": "{{ protocol }}"
    },
    "google_credentials": "{{ google_creds }}",
    "secrets": {
      "cookie": "{{ cookie_secret }}",
      "jwt": "{{ jwt_secret }}"
    },
    "hostname": "{{ hostname }}",
    "external_url": "{{ ot_hostname }}",
    "port": "{{ port }}",
    "env": "{{ env }}"
  }
}
