[Unit]
Description=Otemot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory={{ checkout_dir }}
User=lu
ExecStart={{ checkout_dir }}/target/release/otemot

[Install]
WantedBy=default.target
