[Unit]
Description=Otemot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/var/www/{{ checkout_dir }}
User=lu
ExecStart=/var/www/{{ checkout_dir }}/target/release/otemot

[Install]
WantedBy=default.target
