use Mix.Config

config :aph,
  ecto_repos: [Aph.Repo],
  tts: "{{ tometo_tts_strategy }}",
  hostname: "http://localhost:4001",
  cookie_secret: "9RGqJxYrnc3eoQHrDBBdZsSCMytNFWqgsvD572DfPcm2uH+ycGFye8ulrwaFi+zp",
  # This is only useful if you are using the "google" TTS strategy.
  google_key: "{{ tometo_google_key }}",
  require_invitations: {{ tometo_require_invitations }}

config :aph, Aph.Repo,
  username: "{{ tometo_database_username }}",
  database: "{{ tometo_database_name }}",
  password: "{{ tometo_database_password }}",
  hostname: "localhost",
  # Set this to false in production
  show_sensitive_data_on_connection_error: true,
  pool_size: 10

config :aph, Aph.Mailer,
  adapter: Bamboo.LocalAdapter,
  open_email_in_browser_url: "http://localhost:4001/sent_emails"

config :exq,
  name: Exq,
  host: "127.0.0.1",
  port: 6379,
  namespace: "aph:exq",
  concurrency: 200,
  queues: ["default"]

config :aph, AphWeb.Endpoint,
  render_errors: [view: AphWeb.ErrorView, accepts: ~w(json)],
  http: [port: 4001],
  pubsub_server: Aph.PubSub,
  url: [host: "localhost"],
  secret_key_base: "ym9e4r4KwYYerVHZkJxpoHC8vYcVQEELGyoIoLy8kcvol8cD67RvJdB8oV/ldlxH",
  # This should be set to false in production
  debug_errors: true,
  # This too
  code_reloader: true,
  # And this should be set to true
  check_origin: false,
  watchers: [],
  live_view: [signing_salt: "yVZYwiNje017IblQJYD1ndhXDbYGlW5m"],
  server: true

# This is the CORS config, add allowed origins to the list
config :cors_plug,
  origin: ["http://localhost:4001"]

config :sentry,
  dsn: "AAAA",
  environment_name: "dev",
  enable_source_code_context: true,
  root_source_code_path: File.cwd!(),
  included_environments: ~w(staging prod)

config :logger, :console,
  format: "$time $metadata[$level] $message\n",
  metadata: [:request_id],
  # You might want to change this to :info in production
  level: :debug

config :phoenix, :json_library, Jason
