.color--blue {
	color: $c-lightblue;
}

.text--lhdefault {
	line-height: 180%;
}

.text--vmid {
	vertical-align: middle;
}

.text--small {
	font-size: 0.7rem;
}

img.img--centered {
	text-align: center;
	margin: 0 auto;
	display: block;
}

img.img--vmid {
	vertical-align: middle;
}

img.img--avatar {
	max-height: 400px;
}

img.img--avatar-small {
	max-height: 200px;
}

.flash {
	width: 100%;
	text-align: center;
	border-width: 1px;
	border-style: solid dashed;
	border-color: $c-black;
	padding: 1rem 0;

	&.flash--info {
		border-color: $c-blue;
	}

	&.flash--error {
			border-color: $c-red;
	}
}

.banner {
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background-color: $c-orange;
	color: $c-white;
}

.footer {
	text-align: center;
	color: $c-darkgray;
}

.footer__link {
	opacity: 0.5;
}
