@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap';

html {
	font: 16px/180% $font-serif;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

@include medium {
	html {
		font-size: 14px;
		line-height: 160%;
	}
}

@include small {
	html {
		font-size: 12px;
		line-height: 150%;
	}
}

pre, code {
	font-family: $font-monospace;
}

pre {
	font-size: 14px;
	line-height: 130px;
}

h1, h2, h3, h4, h5, h6 {
	font-variant-ligatures: common-ligatures discretionary-ligatures;
	font-feature-settings: 'liga' on, 'dlig' on;
}

* {
	box-sizing: border-box;
}

*:target {
	background-color: $c-yellow;
}

html {
	background-color: $c-lightgray;
	color: $c-black;
	tab-size: 4;
	-moz-tab-size: 4;
}

html, body {
	margin: 0;
}

.center, .page {
	max-width: 54rem;
	margin: .5rem auto;
	position: relative;
}

.page {
	padding: 1rem 2rem;
	background-color: $c-white;
	box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

@include medium {
	.page, .center {
		max-width: 100%;
		padding: 0 1rem;
	}
}

@page {
	margin: 0;
}

a,
a code,
.link {
	color: $c-blue;
	text-decoration: none;
	transition: color .2s;
}

a:hover, .link:hover {
	color: $c-lightblue;
	text-decoration: underline;
}

a:hover code {
	color: $c-lightblue;
}

form {
	display: inline;
	margin: 0;
	padding: 0;
}

.link {
	background-color: transparent;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	font: inherit;
	line-height: 1rem;
	display: inline;
	-moz-user-select: inherit;
	-webkit-appearance: none;
}

h1 {
	text-align: center;
	padding: .5em 0;
	font-size: 1.7em;
}

h1.h1--uncentered {
	text-align: left;
}

h1.h1--nomargin {
	margin: 0;
}

h2 {
	border-bottom: 1px solid $c-black;
	padding-bottom: .2em;
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.1em;
}

h5, h6 {
	font-size: 1em;
}

blockquote {
	font-style: italic;
}

img {
	max-width: 100%;
}

figure {
	text-align: center;
	margin: 1rem 0;
}

code, pre, kbd, samp {
	background-color: $c-white;
	color: $c-black;
}

pre {
	overflow: auto;
	max-height: 500px;
	padding: .5em 1em;
	border-radius: 2px;
	border-top: 1px solid $c-gray;
	border-bottom: 1px solid $c-gray;
}

code, kbd, samp {
	padding: 1px 2px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

hr {
	border: $c-gray .5px dashed;
	text-align: center;
	font-size: 60px;
	opacity: .9;
}
