button,
.button {
    font-family: $font-serif;
    border: 1px $c-blue;
    border-style: solid dashed;
    padding: 7px 10px;
    background: transparent;
    font-size: 16px;
    color: $c-blue;
    font-weight: bold;
    transition: .1s all;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: $c-lightblue;
        border-color: $c-lightblue;
    }

    &[disabled="disabled"] {
        color: $c-gray;
        border-color: $c-gray;
        cursor: default;

        &:hover {
            text-decoration: none;
        }
    }

    &.button--fullwidth {
        width: 100%;
        text-align: center;
        display: block;
    }

    &.button--vmid {
        vertical-align: middle;
    }
}
