$bp-medium: 54em;
$bp-small: 26em;

$c-black: #252525;
$c-yellow: #ff6;
$c-white: #fff;
$c-blue: #00f;
$c-lightblue: #6491ff;
$c-lightgray: #eee;
$c-gray: #d5d5d5;
$c-darkgray: #aaa;
$c-red: #ff4136;
$c-orange: #ff851b;

$font-serif: 'Libre Baskerville', 'DejaVu Serif', 'Bitstream Vera Serif', 'Georgia', serif;
$font-sans: sans-serif;
$font-monospace: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Consolas', monospace;

@mixin medium {
	@media (max-width: $bp-medium) {
		@content;
	}
}

@mixin small {
	@media (max-width: $bp-small) {
		@content;
	}
}

@import './base';
@import './grid';
@import './nav';
@import './form';
@import './button';
@import './misc';
