<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tometo</title>
  <link rel="stylesheet" href="/static/js/main.css" />
</head>
<body>
  <script async src="/static/js/shared.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>
